* {
  margin: 0px;
}
body {
  background-color: #eee;
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  padding: 3px;
  margin-left: 50px;
}
a {
  text-decoration: none;
  color: gray;
}
#navbar {
  padding:20px;
  position: sticky;
  margin: 10px;
  top: 0px;
  background-color: #eee;
  border-radius: 5px;
}
a:hover {
  color: red;
}
.about {
  display: flex;
}
h1 {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #a9a9a9;
}
.about img {
  width: 15vw;
  height:15vw;
  margin: 5px;
  border-radius: 50%;
  border: black solid 1px;
}
.project-tile img {
  margin:15px;
  width: 30vw;
  height: 40vh;
  border-radius: 2%;
}
.project-tile {
  text-align: center;
  margin:0;
}
@media only screen and (max-width: 800px) {
  .about,
  .work {
    flex-wrap: wrap;
  }
  .about img {
    width: 200px;
    height:200px;
    margin: 0px auto;
  }
  h1 {
    font-size: 30px;
  }
  .project-tile img {
    margin:15px 30vw;
    width: 200px;
    height: 300px;
  }
}
p {
  padding: 10px;
  margin: 10px;
}
figcaption {
  margin-left: 10px;
  margin-top: 0px;
}
.work {
  display: flex;
}
#Works {
  padding: 10px;
  margin: 5px;
}
.work1 {
  padding: 5px;
}
contact-info {
  padding: 0px;
  margin: 0px;
  font-size: small;
}

.contact-info a {
  text-decoration: none;
  color: inherit;
  margin-right: 5px;
}
